.pomodoro__timer:not(:last-child) {
  margin-bottom: 20px;
}

.timer__title {
  font-weight: 300;
  font-size: 24px;
}

.timer__title:not(:last-child) {
  margin-bottom: 16px;
}

.timer__countdown:not(:last-child) {
  margin-bottom: 16px;
}

.countdown__minutes,
.countdown__seconds {
  font-size: 52px;
  font-weight: 300;
}

.timer__controls {
  display: grid;
  gap: 8px;
}